{%extends 'layout.html' %}

{%block title%}
    Incio
{%endblock%}

{%block content%}
        <h1> Pagina de Inicio</h1>

    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {% for message in messages%}
                <div class="message alert-success">
                    {{message}}
                </div>
            {%endfor%}
        {%endif%}
    {%endwith%}

    {%include 'includes/edad.html'%}
    <p> Tu edad es : {{edad}}</p>
    <hr/>
    
    {%include 'includes/personas.html'%}

    <hr/>
        {{dato1}}
        {{dato2}}
        {{lista}}

    

    

        {# Esto es un comentario #}

{%endblock%}
