{% extends 'layout.html' %}

{%block title%}  {{title}} {%endblock%}

{% block content %}
<!-- Comentario Normal-->
{% comment 'Esto es un comentario en Django' %}

<h1>hola holaaaa holaaaa </h1>
{% endcomment %}

<h1 class="title">  {{title}} </h1>
    
    {%if nombre%}
        <p>{{nombre}} </p>
    {%else%}
        <strong>NO hay nombre</strong>
    {%endif %}


<ul>
    {%for lenguaje in lenguajes%}
        <li>{{lenguaje}}</li>
    {%endfor%}
    
</ul>



{%include 'fecha-actual.html' with saludo="Bienvenido desde la plantilla" %}

<p>{{mi_variable}}</p>

{% endblock %}
